.rootLayout {
    .MainContent {
        background: none;
        background-image: none;
    }
}
.servisesPage {
    height: max-content;
    background: url(/src/images/gears.svg) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem 2rem;
  h1 {
    font-size: calc(8vw + 4px);
    font-weight: 300;
    margin: 0 0 30px 0;
  }
  .carousel {
    width: 80%;
    height: 800px;
    padding: 5rem;
    display: flex;
    flex-direction: row;
    background-color: inherit;
    border: 4px solid white;
    transition-duration: 2s;
    position: relative;
    border-radius: 60px;
    
    .arrow:first-child {
        position: absolute;
        top: 50%;
        left: 5px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition-duration: 2s;
    }
    .arrow:last-child {
        position: absolute;
        top: 50%;
        right: 5px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition-duration: 2s;
    }
    .boxWrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        div {
            max-width: 45%;

            h5 {
                font-size: calc(2vw + 4px);
                font-weight: 700;
                margin: 15px 0 30px 0;
                text-decoration: underline;
            }
            p {
                width: auto;
                font-size: calc(1.7vw + 4px);
                font-weight: 400;
                color: white;
                margin: 0 0 10px 0;
            }
        }
    }
  }
}

@media(max-width: 1024px) {
    .servisesPage {
        flex-direction: column;
        align-items: center;
        .carousel {
            width: 100%;
            max-width: 100%;
            min-height: 600px;
            padding: 4rem;

            .arrow:first-child {
                top: auto;
                bottom: 30px;
                left: 20px;
                border: 1px solid white;
                border-radius: 50px;
            }
            .arrow:last-child {
                border: 1px solid white;
                border-radius: 50px;
                top: auto;
                bottom: 30px;
                right: 20px;
            }
        }
    }
}

@media (max-width: 768px) {
    .servisesPage {
        padding: 5rem 1rem;

        .carousel {
            height: fit-content;
            min-height: 700px;
            padding: 4rem 1rem 5rem 1rem;
            .boxWrapper {
                flex-direction: column;
                justify-content: center;
                align-items: unset;
                text-align: unset;
                div {
                    max-width: 100%;
                    h5 {
                        font-size: calc(4vw + 4px);
                        text-align: center;
                    }
                    p {
                        font-size: calc(4vw + 3px);
                    }
                }
            }
        }
    }
}